<mat-card class="example-card">
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
        <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-card-header>
        <mat-card-title class="text-capitalize text-bold color-red">{{ successfulImportHeader }}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between stretch" class="data-table-container">
        <table mat-table [dataSource]="successfulList" class="example-table" matSort matSortActive="id"
            matSortDisableClear matSortDirection="desc">
            <!-- Created Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear><span
                        matTooltip="Info about the action" matTooltipPosition="above">Import ID</span>
                </th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>
            <!-- State Column -->
            <ng-container matColumnDef="author_association">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span matTooltip="Info about the action"
                        matTooltipPosition="above">Web Order</span></th>
                <td mat-cell *matCellDef="let row">{{ row.web_order }}</td>
            </ng-container>
            <!-- Number Column -->
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span matTooltip="Info about the action"
                        matTooltipPosition="above">Customer</span></th>
                <td mat-cell *matCellDef="let row">{{ row.customer }}</td>
            </ng-container>
            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span matTooltip="Info about the action"
                        matTooltipPosition="above">Customer Name</span></th>
                <td mat-cell *matCellDef="let row">{{ row.customer_name }}</td>
            </ng-container>
            <!-- Title updated_at -->
            <ng-container matColumnDef="salesOrder">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span matTooltip="Info about the action"
                        matTooltipPosition="above">Sales Order</span></th>
                <td mat-cell *matCellDef="let row">{{ row.sales_order }}</td>
            </ng-container>
            <!-- Title updated_at -->
            <ng-container matColumnDef="updated_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span matTooltip="Info about the action"
                        matTooltipPosition="above">Date Failed</span></th>
                <td mat-cell *matCellDef="let row">{{ row.date_failed | date }}</td>
            </ng-container>
            <!-- Item Description Column -->
            <ng-container matColumnDef="filter-id">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="outline">
                        <mat-label>Import ID</mat-label>
                        <input matInput name="inputId" type="text" (keyup)="applyFilter($event)" [(ngModel)]="inputId"
                            placeholder="Testing Filter" />
                        <button mat-button *ngIf="inputId" matSuffix mat-icon-button aria-label="Clear"
                            (click)="inputId=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-icon matSuffix *ngIf="!inputId">search</mat-icon>
                    </mat-form-field>
                </th>
            </ng-container>
            <ng-container matColumnDef="filter-description">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="outline">
                        <mat-label>Web Order</mat-label>
                        <input matInput name="inputAuthorAssociation" type="text" (keyup)="applyFilter($event)"
                            [(ngModel)]="inputAuthorAssociation" placeholder="Testing Filter" />
                        <button mat-button *ngIf="inputAuthorAssociation" matSuffix mat-icon-button aria-label="Clear"
                            (click)="inputAuthorAssociation=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-icon matSuffix *ngIf="!inputAuthorAssociation">search</mat-icon>
                    </mat-form-field>
                </th>
            </ng-container>
            <ng-container matColumnDef="filter-progress">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="outline">
                        <mat-label>Customer</mat-label>
                        <input matInput name="inputNumber" type="text" (keyup)="applyFilter($event)"
                            [(ngModel)]="inputNumber" placeholder="Testing Filter" />
                        <button mat-button *ngIf="inputNumber" matSuffix mat-icon-button aria-label="Clear"
                            (click)="inputNumber=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-icon matSuffix *ngIf="!inputNumber">search</mat-icon>
                    </mat-form-field>
                </th>
            </ng-container>
            <ng-container matColumnDef="filter-color">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="outline">
                        <mat-label>Customer Name</mat-label>
                        <input matInput type="text" name="inputTitle" (keyup)="applyFilter($event)"
                            [(ngModel)]="inputTitle" placeholder="Testing Filter" />
                        <button mat-button *ngIf="inputTitle" matSuffix mat-icon-button aria-label="Clear"
                            (click)="inputTitle=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-icon matSuffix *ngIf="!inputTitle">search</mat-icon>
                    </mat-form-field>
                </th>
            </ng-container>
            <ng-container matColumnDef="filter-date-failed">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="outline">
                        <mat-label>Date failed</mat-label>
                        <input matInput type="text" name="inputUpdatedAt" (keyup)="applyFilter($event)"
                            [(ngModel)]="inputUpdatedAt" placeholder="Testing Filter" />
                        <button mat-button *ngIf="inputUpdatedAt" matSuffix mat-icon-button aria-label="Clear"
                            (click)="inputUpdatedAt=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-icon matSuffix *ngIf="!inputUpdatedAt">search</mat-icon>
                    </mat-form-field>
                </th>
            </ng-container>
            <ng-container matColumnDef="filter-salesOrder">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="outline">
                        <mat-label>Sales Order</mat-label>
                        <input matInput type="text" name="inputSalesOrder" (keyup)="applyFilter($event)"
                            [(ngModel)]="inputSalesOrder" placeholder="Testing Filter">
                        <button mat-button *ngIf="inputSalesOrder" matSuffix mat-icon-button aria-label="Clear"
                            (click)="inputSalesOrder=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-icon *ngIf="!inputSalesOrder" matSuffix>search</mat-icon>
                    </mat-form-field>
                </th>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="first-header-row"></tr>
            <tr mat-header-row *matHeaderRowDef="displayedSecondColumns; sticky: true" class="bgColor"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;  let odd = odd;" [ngClass]="{bgColor: odd}">
            </tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">{{ noData }}</td>
            </tr>
        </table>
    </mat-card-content>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons>
    </mat-paginator>
</mat-card>