.nav-bar {
  //  text-transform: capitalize;
  background: darkred;
}
.separator {
  padding-top: 7px;
  color: #df8897;
}

.portal-tag {
  background-color: #dc143c;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  margin-right: 20px;
}
