<nav class="navbar navbar-expand navbar-dark nav-bar">
  <a href="#" class="navbar-brand">Partstown</a>
  <span matRipple class="portal-tag">admin portal</span>
  <div class="navbar-nav mr-auto">
    <ul class="nav navbar-nav" routerLinkActive="active"></ul>
    <li class="nav-item" matTooltip="Setup">
      <a mat-button routerLink="received" class="nav-link">Received/Stuck Orders</a>
    </li>
    <li class="separator">|</li>
    <li class="nav-item" matTooltip="Admin Portal">
      <a mat-button routerLink="admin" class="nav-link">Admin Portal</a>
    </li>
    <li class="separator">|</li>
    <li class="nav-item" matTooltip="Successful Imports">
      <a mat-button routerLink="successful" class="nav-link">Successful Imports</a>
    </li>
    <li class="separator">|</li>
    <li class="nav-item" matTooltip="Resources">
      <a mat-button routerLink="add" class="nav-link">add</a>
    </li>
    <li class="separator">|</li>
    <li class="nav-item" matTooltip="Setup">
      <a mat-button routerLink="table" class="nav-link">Setup</a>
    </li>
    <li class="separator">|</li>
    <li class="nav-item" matTooltip="Logout">
      <a mat-button routerLink="table" class="nav-link">Logout</a>
    </li>
  </div>
</nav>
<div class="mt-3">
  <router-outlet></router-outlet>
</div>